@model Azul.Models.ViewModel.GameVM

<div class="row form-group">
    <div class="col-md-12 text-center">
        Turn N° @Model.RoundNo
    </div>
</div>

<div class="row form-group">
    @foreach (var player in Model.Players.OrderBy(o => o.Name).Take(2))
    {
        @Html.Partial("_playerBoard", player)
    }
</div>

<div class="row form-group">
    @Html.Partial("_gameFactories", Model)        
</div>

@if (Model.Players.Count > 2)
{
    <div class="row form-group">
        @foreach (var player in Model.Players.OrderBy(o => o.Name).Skip(2))
        {
            @Html.Partial("_playerBoard", player)
        }
    </div>
}

<div class="row form-group">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Common Reserve
            </div>
            @Html.Partial("_resumeTileCount", Model.CommonReserve)
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tiles Bag
            </div>
            @Html.Partial("_resumeTileCount", Model.TilesBag)
        </div>
    </div>
</div>









