@model Azul.Models.ViewModel.GameVM

<div class="row form-group">
    @{
        var firstHalf = (int)Math.Ceiling((double)Model.Factories.Count / 2);

        foreach (var factory in Model.Factories.Take(firstHalf))
        {
            <div class="col-md-3 text-center">
                @foreach (var tile in factory.Tiles)
                {
                    <img src="@tile.ImgUrl" class="selectable form-group @tile.Color" data-color="@tile.Color" style="cursor:pointer" width="31" />
                }
            </div>
        }
    }
</div>
<div class="row form-group">
    @foreach (var item in Model.CenterTable)
    {
        <div class="col-md-12 text-center">
              <img src="@item.ImgUrl" class="selectable form-group @item.Color" data-color="@item.Color" style="cursor:pointer" width="31" />
        </div>
    }
</div>
<div class="row form-group">
    @foreach (var factory in Model.Factories.Skip(firstHalf))
    {
        <div class="col-md-3 text-center">
                @foreach (var tile in factory.Tiles)
                {
                    <img src="@tile.ImgUrl" class="selectable form-group @tile.Color" data-color="@tile.Color" style="cursor:pointer" width="31" />
                }
        </div>
    }
</div>