@model Azul.Models.Player
<div class="col-md-6">
    <div class="panel @if (Model.IsMyTurn) { <text> panel-success </text>} else {<text> panel-default </text>}">
        <div class="panel-heading">
        @if (Model.IsFirstPlayer){ <text><img src="/Content/images/Player1.png" width="26" /></text> } <span @if (Model.IsMyTurn) { <text> class="glow" </text> }>@Model.Name</span><span class="pull-right">VP: @Model.VictoryPoints</span></div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-xs-6 col-md-6">
                    @foreach (var row in Model.Rows)
                    {
                        <div class="row">
                            @if (Model.IsMyTurn)
                                {
                                    <div class="col-xs-1 col-md-1 handsMobile">
                                        <a href="#" data-rowselected="@Model.Name-@row.Position" class="rowSelect btn-default glyphicon glyphicon-hand-right"></a>
                                    </div>
                                }

                            <div class="rowsMobile">@Html.Partial("_playerInsertingRow", row)</div>
                        </div>
                    }
                </div>
                <div class="col-xs-6 col-md-6">
                    @foreach (var rows in Model.Wall)
                    {
                        <div class="row">
                            @foreach (var item in rows)
                            {
                                <div class="col-xs-1 col-md-1">
                                    <img src="@item.ImgUrl" @if (!item.Placed) { <text> style="opacity:0.3" </text>  } width="31" />
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
            @Html.Partial("_floorRow", Model.FloorRow)
        </div>
    </div>
</div>