@model Azul.Models.Player

<div class="row form-group">
    <div class="col-md-6">
        @foreach (var row in Model.Rows)
        {
            <div class="row">
                @if (Model.IsMyTurn)
                {
                    <div class="col-md-1">
                        <a href="#" data-rowselected="@Model.Name-@row.Position" class="rowSelect btn-default glyphicon glyphicon-hand-right"></a>
                    </div>
                }
                
                @Html.Partial("_playerInsertingRow", row)
            </div>
        }
    </div>
    <div class="col-md-6">
        @foreach (var rows in Model.Wall)
        {
            <div class="row">
                @foreach (var item in rows)
                {
                    <div class="col-md-1">
                        @if (item != null && item.Placed)
                        {
                            <img src="@item.ImgUrl" width="31" />
                        }
                        else
                        {
                            <div style="width:31px;height:31px; border:1px solid black"></div>
                        }
                    </div>
                 }
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-1 text-center">
                -1
            </div>
            <div class="col-md-1 text-center">
                -1
            </div>
            <div class="col-md-1 text-center">
                -2
            </div>
            <div class="col-md-1 text-center">
                -2
            </div>
            <div class="col-md-1 text-center">
                -2
            </div>
            <div class="col-md-1 text-center">
                -3
            </div>
            <div class="col-md-1 text-center">
                -3
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.FloorRow)
            {
                <div class="col-md-1">
                    <img src="@item.ImgUrl" width="31" />
                </div>
            }

            @for (int x = 0; x < 7 - Model.FloorRow.Count; x++)
            {
                <div class="col-md-1">
                    <div style="width:31px;height:31px; border:1px solid black"></div>
                </div>
            }
            <div class="col-md-5">
                Current Victory Points: @Model.VictoryPoints
            </div>
        </div>
    </div>
</div>

